/* My reset */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover{
    color: gray;
}

/* Header */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem 1rem;
    font-family:'Lato', sans-serif;
    font-size: 1rem;
    background-color: #2e4958;
    border-bottom: 2px solid black;
}

.logo{
    width: 150px;
    border-radius: 50%;
}

.nav-bar-item-1{
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

.nav-bar-item-2{
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    border-left: 2px solid white;
}

.nav-bar-item-3{
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    border-left: 2px solid white;
}

.porfolio{
    color: white;
}

/* Star Home Main */
.home-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #619ab1;
}

.me{
    grid-column: 2/4;
    padding: 1rem;
}

.img-me{
    max-width: 100%;
    border: 2px solid black;
}

.descripcion{
    grid-column: 4/8;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    background: white;
    align-self: center;
    border: 2px solid black;
}

.descripcion p{
    font-family:'Lora', serif;
    font-size: 1.8rem;
}

.Presentacion{
    text-align: center;
    padding: 0.5rem;
    font-family: 'Lato', sans-serif;
}

.obj{
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    background: white;
    align-self: center;
    border: 2px solid black;
}

.obj-p{
    font-size: 2rem;
}

.code{
    grid-column: 4/8;
    grid-row: 2/3;
    margin: 1rem;
    border: 2px solid black;
}

.img-code{
    height: 100%;
}
/* finish main home */
/* Start main experience and skills */
.hero{
    grid-column: 1/8;
    grid-row: 1/2;
}
.hero-title{
    grid-column: 1/8;
    grid-row: 1/2;
    text-align: center;
    font-size: 4rem;
    color:white;
}

.puro-sabor{
    grid-column: 2/4;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
}

.p-puro-sabor{
    font-family:'Lora', serif;
    font-size: 1.5rem;
}

.a-puro-sabor{
    font-size: 1.2rem;
    font-family:'Lora', serif;
    color: black;
}

.img-center{
    grid-column: 4/6;
    margin: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    gap: 2rem;
    background: #2e4958;
}

.linkedin{
    color:  #619ab1;
}
.mail{
    color:  #619ab1;
}