@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* My reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover{
    color: gray;
}

/* Header */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem 1rem;
    font-family:'Lato', sans-serif;
    font-size: 1rem;
    background-color: #2e4958;
    border-bottom: 2px solid black;
}

.logo{
    width: 150px;
    border-radius: 50%;
}

.nav-bar-item-1{
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

.nav-bar-item-2{
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    border-left: 2px solid white;
}

.nav-bar-item-3{
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    border-left: 2px solid white;
}

.porfolio{
    color: white;
}

/* Star Home Main */
.home-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #619ab1;
}

.me{
    grid-column: 2/4;
    padding: 1rem;
    position: relative;
    width: 100%;
}

.img-me{
    display: block;
    max-width: 100%;
}
.overlay {
    position: absolute;
    top: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 1s ease-in-out;
    background-color: #2e4958;
  }
  
  .me:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    font-family:'Lato', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.descripcion{
    grid-column: 4/8;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    background: white;
    align-self: center;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
}

.descripcion p{
    font-family:'Lora', serif;
    font-size: 1.8rem;
}

.Presentacion{
    text-align: center;
    padding: 0.5rem;
    font-family: 'Lato', sans-serif;
}

.descripcion:hover{
    transform: translate(0, -15px);
}

.obj{
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    background: white;
    align-self: center;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
}

.obj-p{
    font-size: 2rem;
}

.obj:hover{
    transform: translate(0, -15px);
}

.code{
    grid-column: 4/8;
    grid-row: 2/3;
    margin: 1rem;
    border: 2px solid black;
}

.img-code{
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.img-code:hover{
    transform: scale(1.1);
    border: 2px solid black;
}
/* finish main home */
/* Start main experience and skills */
.hero{
    grid-column: 1/8;
    grid-row: 1/2;
}
.hero-title{
    grid-column: 1/8;
    grid-row: 1/2;
    text-align: center;
    font-size: 4rem;
    color:white;
}

.puro-sabor{
    grid-column: 1/4;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
}

.h2-puro-sabor{
    text-align: center;
    font-family:'Lora', serif;
    font-size: 1.5rem;
}

.p-puro-sabor{
    font-family:'Lora', serif;
    font-size: 1.8rem;
}

.a-puro-sabor{
    font-size: 1.5rem;
    font-family:'Lora', serif;
    color: black;
}

.img-center{
    grid-column: 4/6;
    margin: 1rem;
    transition: all 1s ease-in-out;
}

.img-center:hover{
    transform: translate(0,250px)
}

.Rafting-website{
    grid-column: 6/8;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
}

.h2-Rafting-website{
    text-align: center;
    font-family:'Lora', serif;
    font-size: 1.5rem;
}

.p-Rafting-website{
    font-family:'Lora', serif;
    font-size: 1.5rem;
}

.a-Rafting-website{
    font-size: 1.2rem;
    font-family:'Lora', serif;
    color: black;
}

.experience{
    grid-column: 1/4;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
    transition: all 1s ease-in-out;
}

.experience:hover{
    transform: translate(250px, 0)
}

.p-experience{
    font-family:'Lora', serif;
    font-size: 1.5rem;
}

.h2-experience{
    text-align: center;
    font-family:'Lora', serif;
    font-size: 1.5rem;
}

.skills{
    grid-column: 6/8;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
    transition: all 1s ease-in-out;
}

.skills:hover{
    transform: translate(-250px, 0)
}

.h2-skills{
    text-align: center;
    font-family:'Lora', serif;
    font-size: 1.5rem;
}

.p-skills{
    font-family:'Lora', serif;
    font-size: 1.4rem;
}
/* End experience and skills */
/* Start college */

.home-grid-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    background-color: #619ab1;
}

.img-python{
    grid-column: 1/3;
}

.python-code{
    height: 100%;
}

.information-byu-i{
    grid-column: 3/5;
    align-self: center;
    background-color: white;
    font-family:'Lora', serif;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid black;
    transition: all 0.8s ease-in-out;
}
.information-byu-i:hover{
    transform: translate(-250px, 0);
    font-size: 1.5rem;
}
.campus-byu-i{
    grid-column: 1/5;
    width: 100%;
}
.campus-byu-i-img{
    width: 100%;
    height: 500px;
}

.coderhouse{
    grid-column: 1/3;
    width: 100%;
}

.coderhouse-2{
    width: 100%;
    height: 100%;
}

.information-coderhouse{
    grid-column: 3/4;
    align-self: center;
    background-color: white;
    font-family:'Lora', serif;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid black;
    transition: all 0.8s ease-in-out;
}

.information-coderhouse:hover{
    transform: scale(1.4);
}

footer{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    gap: 2rem;
    background: #2e4958;
}

.linkedin{
    color:  #619ab1;
}
.mail{
    color:  #619ab1;
}
.siteplan{
    color: #619ab1;
}